ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {

  background: var(--body-bg-color);
  color: var(--text-color);
}

hr {
  border-color: var(--hr-color);
  margin: 20px 0;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  position: relative;
  display: block;
  padding: 2px;
}

.menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  /* linear-gradient(to right, #23a0fa, #0a8ce7, #0067b1); */
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

.menu a:hover::before {
  transform: scaleX(1);
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menu[data-animation="to-left"] a::before {
  transform-origin: right;
}

.menu[data-animation="center"] a::before {
  transform-origin: center;
}

.menu[data-animation="bonus"] a::before {
  transform-origin: right;
}

.menu[data-animation="bonus"] a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}
